@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Dosis&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
    font-family: 'Anek Latin', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/bg2.png");
    background-attachment: fixed;
}

.navbar {
    background: #14213D;
}

h1 {
    color: white;
}

#landing-page {
    height: 100vh;
}

#about {
    height: 100vh;
    align-content: center;
}

p {
    color: white;
}

#p-about {
    background-color: #14213D;
}

span {
    color: #FCA311;
}

#btn-resume {
    background-color: #FCA311;
    color: white;
}

@media (max-width: 600px) {
    .intro {
        display: inline-block;
        width: 100%;
        margin: 1rem;
    }
}

@media (max-width: 600px) {
    #rounded-circle {
        width: 10px;
        margin: 1rem;
    }
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000 !important;
}

ul li.active a {
    background-color: #fff;
    color: #000 !important;
}

#landing-page {
    height: 100vh;
    margin-top: 10rem;
}


/* gallery */

#gallery {
    height: 100vh;
}

#p-gallery {
    background-color: #14213D;
}

#card-id {
    background-color: #14213D;
}


/* form */

#form-contact {
    display: block;
}

#contact-elements {
    background-color: #14213D;
}


/* footer */

#footer-id {
    margin-top: 2rem;
    background-color: #14213D;
}


/* MEDIA QUERY */

@media (max-width: 600px) {
    #about {
        margin-top: 20rem;
        padding-top: 10rem;
        width: 100%;
    }
}

@media (max-width: 600px) {
    #gallery-id {
        margin-top: 40rem;
        padding-top: 10rem;
        width: 100%;
    }
}

@media (max-width: 600px) {
    #contact-form {
        margin-top: 1rem;
        padding-top: 10rem;
        width: 100%;
    }
}